<?xml version="1.0"?>
<robot name="bicopter">

    <link name="body">
    <visual>
      <geometry>
        <box size="0.1 0.6 0.1"/>
      </geometry>
      <material name="slider_mat">
        <color rgba="0.9 0.6 0.2 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.6 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
    </inertial>
  </link>

  <link name="motor1">
    <visual>
      <geometry>
        <cylinder radius="0.15" length="0.05"/>
      </geometry>
      <material name="cart_mat">
        <color rgba="0.3 0.5 0.7 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
          <cylinder radius="0.15" length="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
    </inertial>
  </link>

    <link name="motor2">
    <visual>
      <geometry>
        <cylinder radius="0.15" length="0.05"/>
      </geometry>
      <material name="cart_mat">
        <color rgba="0.3 0.5 0.7 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
          <cylinder radius="0.15" length="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
    </inertial>
  </link>

  <link name="joint_mot1">
  </link>

  <joint name="mot1_to_body" type="fixed">
    <parent link="body"/>
    <child link="motor1"/>
    <origin xyz="0 0.3 0.075"/>
  </joint>
  <joint name="mot2_to_body" type="fixed">
    <parent link="body"/>
    <child link="motor2"/>
    <origin xyz="0 -0.3 0.075"/>
  </joint>
</robot>
